---
import { ThemeSwitch } from './ThemeSwitch'
import { author, footer } from '@/config.json'
import { getAllPostsWordCount } from '@/utils/content'
import { RunningDays } from './RunningDays'
import Link from './Link.astro'

const sinceYear = new Date(footer.startTime).getFullYear()
const thisYear = new Date().getFullYear()
const copyDate = sinceYear === thisYear ? thisYear : `${sinceYear} - ${thisYear}`

const wordCount = await getAllPostsWordCount()

const wordCountStr = (wordCount / 1000).toFixed(1) + 'k'
---

<footer class="relative z-1 py-8 px-4 md:px-8 border-t border-primary text-secondary text-sm">
  <div class="text-center space-y-2">
    <div>
      Powered by
      <Link href="https://astro.build/">Astro</Link>
      & Designed by
      <Link href="https://github.com/lxchapu/astro-gyoza">Gyoza</Link>
    </div>
    <div class="space-x-1">
      <span>&copy;{copyDate} <Link href="/">{author.name}</Link>.All rights reserved.</span>
      <Link href="/rss.xml" data-no-swup>
        <i class="iconfont icon-rss"></i>
        <span>RSS</span>
      </Link>
      <Link href="/sitemap-index.xml" data-no-swup>
        <i class="iconfont icon-map"></i>
        <span>站点地图</span>
      </Link>
    </div>
    <div>
      <RunningDays client:only="react" />
      <span class="select-none opacity-50">|</span>
      <span>共嘚嘚了 {wordCountStr} 字</span>
    </div>
    <div>
      <Link
        target="_blank"
        rel="noopener noreferrer"
        href="https://icp.felicity.land/?keyword=%E5%B9%B8ICP%E5%A4%8720250721%E5%8F%B7"
        >幸ICP备20250721号</Link
      ><Link
        target="_blank"
        rel="noopener noreferrer"
        href="https://icp.gov.moe/?keyword=20260715"
        >萌ICP备20260715</Link
      >
    </div>
    <div
      class="netease-mini-player"
      data-playlist-id="12841549833"
      data-embed="false"
      data-position="bottom-left"
      data-lyric="true"
      data-theme="auto"
    >
    </div>
    <!-- 引入 CSS 文件 -->
    <link
      rel="stylesheet"
      href="https://cdn.felicity.land/NeteaseMiniPlayer/netease-mini-player-v2.css"
    /><!-- 引入 JS 文件 -->
    <script src="https://cdn.felicity.land/NeteaseMiniPlayer/netease-mini-player-v2.js"></script>
  </div>
  <div class="mt-4 flex justify-center">
    <ThemeSwitch client:only="react" />
  </div>
</footer>
